.sidenav {
    background-color: #3f51b5;
    width: 200px;
}

span  {
    color: #FFF;
}

.sidenav i {
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}

.nav-list a span {
    display: flex;
    align-items: center;
  }
  
  .icon-text {
    margin-left: 10px;
  }
  
